<div class="content">
  <div class="form">
    <button class="button-info" (click)="toggleInfo()">
      <img src="./../assets/images/light-bulb.svg" alt="info">
      <div class="info" *ngIf="showInfo" [ngClass]="{'active': showInfo == true}">
        <h2>Requisitos de la constraseña</h2>
        <ul>
          <li>La longitud mínima debe ser de 8 caracteres.</li>
          <li>Debe contener caracteres especiales y números.</li>
          <li>No debe tener algo que ver con el nombre o login del usuario.</li>
          <li>No se deben utilizar contraseñas que anteriormente se hayan utilizado.</li>
        </ul>
      </div>
    </button>
    <div class="title-password">
      <img src="./../assets/images/ceiba-logo-pass-2.svg" alt="Logo Ceiba password" width="100">
      <h1>Generador de contraseña</h1>
    </div>
    <div class="form-control">
      <label for="length">Longitud de la contraseña</label>
      <input type="number" [(ngModel)]="length">
      <small class="danger" *ngIf="length < 8">* La contraseña debe tener mínimo 8 caracteres</small>
    </div>
    <h4 class="select-option">Selecciona almenos una opción</h4>
    <div class="cont-labels">
      <label class="container">Números
        <input type="checkbox" (change)="onChangeUseNumbers()">
        <span class="checkmark"></span>
      </label>
      <label class="container">Símbolos
        <input type="checkbox" (change)="onChangeUseSymbols()">
        <span class="checkmark"></span>
      </label>
      <label class="container">Letras
        <input type="checkbox" (change)="onChangeUseLetters()">
        <span class="checkmark"></span>
      </label>
    </div>
    <button
      class="button-primary"
      [disabled]="!(length >= 8 && (includeLetters || includeNumbers || includeSymbols))"
      (click)="onButtonClick()">
      Generar mi contraseña
    </button>
    <div class="form-control" *ngIf="password">
      <label for="">Tu contraseña es</label>
      <input type="text" name="password-gen" [value]="password" >
      <button (click)="onCopyPass()" class="button-secondary">
        <img src="./../assets/images/clipboard-solid.svg" alt="clipboard">
        Copiar contraseña
      </button>
      <small *ngIf="onCopyAlert" class="copied">¡Contraseña copiada!</small>
    </div>
  </div>
</div>
